html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    color: #5C5C5C;
    font-family: "Quicksand",sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    background-color: #fff;
    margin: 0;
}
/* start body */
.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
}
a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}
.dialog-off-canvas-main-canvas {
    display: flex;
    flex-direction: row;
}
/* 1/2 div of BODY */
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    box-shadow: 3px 0 5px 0 #e7e7e7;
    height: 100vh;
    min-height: 100vh;
    min-width: 220px;
    position: sticky;
    top: 0;
    width: 220px;
    z-index: 100;
}
/*******  inside the div sidebar*/
    .bg-gradient, .topic-info-container .btn-create-topic, .topic-info-container .btn-create-topic {
        background: linear-gradient(0deg,#ED7839 0%,#FFB455 100%);
    }
    .title-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #FFFFFF;
        height: 68px;
        justify-content: center;
    }
    .px-lg {
        padding: 0 0px;
    }
    /*span*/
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        float: left;
    }
    /* .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    } */
    /*i*/
    .fa-2x {
        font-size: 2em;
    }
    /*div with class:flex-col*/
    .flex-col {
        display: flex;
        flex-direction: column;
    }

        /*MEDIAS*/
        @media (min-width: 768px){
        .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
        }
        }
        @media (max-width: 1239px){
        .col-sm-12 {
            width: 100%;
        }
        }
        

        .image-video-div {
            height: 100%;
            padding-bottom: 20px;
            padding-right: 10px;
        }
        .image-video {
            position: relative;
            max-width: 100%;
        }

    /*h2*/
    .title-wrapper .acronym {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex: 1;
    }
    .text-center {
        text-align: center;
    }
    .mr-none, .mx-none, .m-none {
        margin-right: 0;
    }
    .ml-none, .mx-none, .m-none {
        margin-left: 0;
    }
    h2, .h2 {
        font-size: 30px;
    }
   /*div  visible-xs*/
   .visible-xs {
        display: none !important;
    }
        /*div flex-row...*/
        .flex-row-center-horizontal {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    /*span col-xs-2*/    
    .col-xs-2 {
        width: 16.6666666667%;
    }
            /*div*/
            .user-menu-wrapper .btn-group {
                float: right;
            }
            .btn-group, .btn-group-vertical {
                position: relative;
                display: inline-block;
                vertical-align: middle;
            }
                /* a */
                .user-menu-wrapper .btn-group .dropdown-toggle {
                    box-shadow: none;
                    display: block;
                    height: 34px;
                }
            
                    /* div user-menu-wrapper*/
                    .user-menu-wrapper .btn-group .picture-container {
                        border-radius: 100px;
                        box-shadow: 1px 1px 2px #a5a5a5;
                        overflow: hidden;
                    }
                    .mb-sm, .paper-card, .paper-card:not(:last-child), .coauthors-container h3 {
                        margin: 0 0 14px;
                    }
                    .title-wrapper .btn-link {
                        color: #FFF;
                    }
                    /* divs  with login*/
                    .user-menu-wrapper {
                        display: flex;
                        justify-content: center;
                    }
                    .display-first {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        margin-left: 15px;
                    }
                        .welcome-display {
                            display: flex;
                            font-family: 'Quicksand';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 18px;
                            color: #333333;
                        }
                        .gmail-display {
                            display: flex;
                            font-family: 'Quicksand';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 15px;
                            color: #333333;
                        }
                        p.welcome-display, p.gmail-display {
                            margin: 0px 9px 0px;
                        }
                    .display-second {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                    }
                        .z-index-img{
                            z-index: 1;
                        }
                        .notification-svg {
                            z-index: 2;
                            position: relative;
                            left: -12px;
                            top: -11px;
                        }
/******* inside the div sidebar-body, inside the div sidebar */
/* div */
.series-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 208px;
}
.my-md {
    margin: 26px 0;
}
/* div field (img)*/
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
} 
img {
    vertical-align: middle;
    border: 0;
}
/* div */
.menu-wrapper {
    flex: 1;
}
/* section */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
/*inside the*/
.list-unstyled {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
    /*li's  series-menu-item*/
    .bg-lighten-hover {
        transition: background-color 200ms ease;
    }
    .bg-lighten-hover:hover {
        background-color: #FDF1EB;
    }

    .series-menu-item:not(:last-child) {
        border-bottom: 2px solid #E7E7E7;
    }
    .series-menu-item {
        display: flex;
        flex-direction: column;
        background: inherit;
        height: 35px;
        position: relative;
    }
    .series-menu-item a {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
        font-size: 15px;
        font-weight: 500;
        padding-left: 19px;
        text-decoration: none;
        transition: padding-left 100ms ease;
    }
    .series-menu-item.active a, .series-menu-item:hover a {
        padding-left: 30px;
    }
    /* li mobile */
    .series-menu-item.mobile {
        display: none;
    }
    /* ul collapsed */
    .series-menu.collapsed {
        display: none;
    }



    /* 2/2 div do BODY */
.expand {
    flex: 1;
}
/* header and divs */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.px-xlg {
    padding: 0px 15px 4px 15px;
    background: #FDF1EB;
}
/*first div  flex-col*/
    /*h1*/
    .header .series-title {
        flex: 3;
        font-family: 'Roboto', "Quicksand",sans-serif;
        font-size: 22px;
        font-weight: 400;
        margin: 0;
        line-height: 26px;
        font-style: normal;
        min-width: 400px;
        height: 26px;
        left: 36px;
        top: 23px;
        color: #725C5C;
    }
        /*span*/    
        .header .series-title span {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            color: #725C5C;
            line-height: 16px;
        }
    /*div flex-row*/
    .flex-row {
        display: flex;
        flex-direction: row;
    }
    /*div inside*/
    .issn-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }
    .mr-sm {
        margin: 0 14px 0 0;
    }
        .series-issn {
            font-size: 14px;
            line-height: 16px;
            color: #725C5C;
        }

/*second div  languages-dropdown*/
.div-box {
    display: flex;
    flex-wrap: wrap;
}
.languages-dropdown {
    position: relative;
}

/*button*/
    .dropdown-toggle:focus {
        outline: 0;
    }
    .btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
    .btn:hover, .btn:focus, .btn.focus {
        color: #333;
        text-decoration: none;
    }
    .btn-default:focus, .btn-default.focus {
        color: #333;
        background-color: #e6e5e5;
        border-color: #8c8c8c;
    }
    .btn-default:hover {
        color: #333;
        background-color: #e6e5e5;
        border-color: #adadad;
    }
    input, button, select, textarea {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    button, html input[type="button"], input[type="reset"], input[type="submit"] {
        -webkit-appearance: button;
        cursor: pointer;
    }
    button, select {
        text-transform: none;
    }
    button {
        overflow: visible;
    }
    button, input, optgroup, select, textarea {
        color: inherit;
        font: inherit;
        margin: 0;
    }
    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 0px;
        line-height: 1.428571429;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }
    .btn-sm, .btn-group-sm > .btn {
        padding: 3px 8px;
        font-size: 14px;
        line-height: 1.5;
        border-radius: 3px;
        display: flex;
        align-items: center;
    }
    .languages-dropdown .btn {
        background-color: transparent;
    }
    

    .favorite {
        line-height: 0.333333;
    }
    
    /*i  class:fa*/
        .fa.fa-globe {
            width: 22px;
            height: 25px;
            background: url(images/language-image.svg);
        }
    
        /*span*/
        .btn .caret {
            margin-left: 3px;
        }
        
        .caret {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 2px;
            vertical-align: middle;
            border-top: 4px dashed;
            border-top: 4px solid \9;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }

        /*ul  ckass: languages*/
        ul.dropdown-menu {
            color: #ED7839;
        }
        ul.dropdown-menu.dropdown-menu-right {
            top: 35px;
        }
        .dropdown-menu.languages {
            left: unset;
            right: 0;
        }
        ul.dropdown-menu {
            border-top: 2px solid currentColor;
            font-weight: 600;
            margin-top: 9px;
            min-width: 120px;
            top: 30px;
        }
        .dropdown-menu-right {
            left: auto;
            right: 0;
        }
        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 160px;
            padding: 5px 0;
            margin: 2px 0 0;
            list-style: none;
            font-size: 14px;
            text-align: left;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0,0,0,0.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
            box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
            background-clip: padding-box;
        }
        .dropdown-menu > li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.428571429;
            color: #333333;
            white-space: nowrap;
        }


        .color {
            color: #ED7839;
            cursor: pointer;
        }

/* MAIN */
.main {
    flex: 1;
    padding: 36px;
}
/*div  class:row*/
.row {
    display: flex;
    align-items: flex-start;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
    @media (min-width: 992px){
        .px-xlg {
            padding: 0px 36px 4px 36px;
        }

        .col-md-8 {
            width: 66.6666666667%;
        }
    }
    @media (min-width: 992px){
        .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
            float: left;
        }
    }
    
    .mb-sm, .paper-card, .paper-card:not(:last-child), .coauthors-container h3 {
        margin: 0 0 14px;
    }
    /*h2*/
    .f-primary {
        color: #ED7839;
    }
    .proceedings-paper-full .paper-title {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.05em;
        line-height: 25px;
    }
    .mt-none, .my-none, .m-none {
        margin-top: 0;
    }
    .mb-none, .my-none, .m-none {
        margin-bottom: 0;
    }

    /*panel-body  ul's  li's*/
    .presentation-type {
        letter-spacing: 0.02em;
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        color: #5C5C5C;
    }
    strong{
        font-weight: bold;
    }

    .authors {
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 2%;
        color: #5C5C5C;
    }

    .universities {
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 2%;
        color: #ada0a0;
    }
    .numbers-color {
        color: #ada0a0;
    }
    
/* div   ...col-md-4*/
@media (min-width: 992px){
    .col-md-4 {
        width: 33.3333333333%;
    }
}
@media (min-width: 992px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
}

    .actions-wrapper .actions-button {
        display: flex;
        justify-content: flex-end;
    }
        /*region ... major*/
        .actions-wrapper .block {
            margin-left: 3px;
        }

        .bg-primary, .btn-primary, .prefix, .modal .modal-content .modal-header, .modal .modal-content .modal-header, .actions-wrapper .region-paper-actions-major .block .btn-lg, .actions-wrapper .region-paper-actions-major .block .btn-lg, .actions-wrapper .region-paper-actions-major .block .btn-group-lg > .btn, .actions-wrapper .region-paper-actions-major .block .btn-group-lg > .btn, .actions-wrapper .region-paper-actions-minor .block .btn, .actions-wrapper .region-paper-actions-minor .block .btn, .pagination > .active > a, .pagination > .active > span, .m-gaussTabs__item--active .badge, .m-gaussTabs__item--active .badge {
            background-color: #ED7839;
        }
        .actions-wrapper .region-paper-actions-major .block .btn-lg, .actions-wrapper .region-paper-actions-major .block .btn-group-lg > .btn {
            border: 0;
            border-radius: 4px;
            box-shadow: 2px 2px 2px #ececec;
            font-size: 16px;
            padding: 
            5px 16px;
        }
        
        .bg-primary, .btn-primary, .prefix, .modal .modal-content .modal-header, .actions-wrapper .region-paper-actions-major .block .btn-lg, .actions-wrapper .region-paper-actions-major .block .btn-group-lg > .btn, .actions-wrapper .region-paper-actions-minor .block .btn, .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus, .m-gaussTabs__item--active .badge {
            color: #fff;
        }

        .bd-gradient-left::before, .coauthors-container .coauthors li::before, .coauthors-container .coauthors li::before, .bg-active.active::before {
            background: #ED7839;
            background: linear-gradient(180deg,#ED7839 100%,#FFB455 0%);
            content: '';
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 5px;
        }

/*         
        .box-shadow-black, .btn-primary {
            box-shadow: 0 2px 5px rgb(0 0 0 / 25%);
        } */
        .bd-primary, .btn-primary, .pagination > .active > a, .pagination > .active > span {
            border: 1px solid #ED7839;
        }
        .btn-block {
            display: block;
            width: 100%;
        }
        /*
        .btn-lg, .btn-group-lg > .btn {
            line-height: 1.3333333;
        }*/

        /*region ...minor*/
        .actions-wrapper .region-paper-actions-minor {
            display: flex;
        }
            .modal {
                display: none;
                overflow: hidden;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1050;
                -webkit-overflow-scrolling: touch;
                outline: 0;
            }
            .fade {
                opacity: 0;
                -webkit-transition: opacity 0.15s linear;
                -o-transition: opacity 0.15s linear;
                transition: opacity 0.15s linear;
            }
                .modal.fade .modal-dialog {
                    -webkit-transform: translate(0,-25%);
                    -ms-transform: translate(0,-25%);
                    -o-transform: translate(0,-25%);
                    transform: translate(0,-25%);
                    -webkit-transition: -webkit-transform 0.3s ease-out;
                    -moz-transition: -moz-transform 0.3s ease-out;
                    -o-transition: -o-transform 0.3s ease-out;
                    transition: transform 0.3s ease-out;
                }
                @media (min-width: 768px){
                    .modal-dialog {
                        width: 600px;
                        margin: 30px auto;
                    }
                }
                .modal-dialog {
                    position: relative;
                    width: auto;
                    margin: 10px;
                }
            /*modal-content*/
                @media (min-width: 768px){
                    .modal-content {
                        -webkit-box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
                        box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
                    }
                }
                .modal-content {
                    position: relative;
                    background-color: #fff;
                    border: 1px solid #999;
                    border: 1px solid rgba(0,0,0,0.2);
                    border-radius: 6px;
                    -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
                    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
                    background-clip: padding-box;
                    outline: 0;
                }
                /*modal-header*/
                .modal .modal-content .modal-header {
                    padding: 15px 30px;
                }

                
                .modal-header {
                    padding: 15px;
                    border-bottom: 1px solid #e5e5e5;
                }
                    /*button  class:close*/
                    .modal .close {
                        color: #FFF;
                        font-size: 26px;
                        opacity: 1;
                    }
                    .modal-header .close {
                        margin-top: -2px;
                    }
                    button.close {
                        padding: 0;
                        cursor: pointer;
                        background: transparent;
                        border: 0;
                        -webkit-appearance: none;
                    }
                    .close {
                        float: right;
                        font-size: 21px;
                        font-weight: bold;
                        line-height: 1;
                        color: #000;
                        text-shadow: 0 1px 0 #fff;
                        opacity: 0.2;
                        filter: alpha(opacity=20);
                    }
                    button, html input[type="button"], input[type="reset"], input[type="submit"] {
                        -webkit-appearance: button;
                        cursor: pointer;
                    }
            
                    /*h4*/
                    .modal-title {
                        margin: 0;
                        line-height: 1.428571429;
                    }
                    h4, .h4 {
                        font-size: 18px;
                    }
                /*modal-body*/
                .modal .modal-content .modal-body {
                    font-size: 15px;
                    line-height: 1.846;
                    padding: 15px 30px;
                }
                .modal-body {
                    position: relative;
                    padding: 15px;
                }
                    p {
                        margin: 0 0 10px;
                    }
                    /*div  citation*/
                    .modal #citation {
                        margin: 0 -30px;
                        position: relative;
                    }
                    /*ul*/
                    .modal .nav-tabs {
                        border-width: 3px;
                        display: flex;
                    }
                    .nav-tabs {
                        border-bottom: 1px solid #ddd;
                    }
                    .nav {
                        margin-bottom: 0;
                        padding-left: 0;
                        list-style: none;
                    }
                    ul, ol {
                        margin-top: 0;
                        margin-bottom: 10px;
                    }
                    /*li's*/
                    .modal .nav-tabs li.active {
                        border-bottom: 3px solid;
                    }
                    .modal .nav-tabs li {
                        display: flex;
                        flex: 1;
                        margin-bottom: -3px;
                    }
                    .nav-tabs > li {
                        float: left;
                        margin-bottom: -1px;
                    }
                    .nav > li {
                        position: relative;
                        display: block;
                    }
                        /*a*/
                        .modal .nav-tabs li.active a {
                            border: 0;
                            font-weight: bold;
                        }
                        .modal .nav-tabs li a {
                            align-items: center;
                            color: #555555;
                            display: flex;
                            flex: 1;
                            height: 40px;
                            justify-content: center;
                            margin: 0;
                        }
                        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
                            background-color: #fff;
                            cursor: default;
                        }
                        .nav-tabs > li > a {
                            margin-right: 2px;
                            line-height: 1.428571429;
                            border: 1px solid transparent;
                            border-radius: 4px 4px 0 0;
                        }
                        .nav > li > a {
                            position: relative;
                            display: block;
                            padding: 10px 15px;
                        }
                        
                        /*li*/
                        .modal .nav-tabs li {
                            display: flex;
                            flex: 1;
                            margin-bottom: -3px;
                        }
                        .nav-tabs > li {
                            float: left;
                            margin-bottom: -1px;
                        }
                        .nav > li {
                            position: relative;
                            display: block;
                        }
                    /*div  tab-content*/
                    .tab-content > .active {
                        display: block;
                    }
                    .tab-content > .tab-pane {
                        display: none;
                    }
                        .modal .citation-text {
                            background-color: #F9F9F9;
                            border: 0;
                            border-radius: 0;
                            margin-bottom: 12.5px;
                            padding: 10px;
                            position: relative;
                        }
                        .panel-default {
                            border-color: #ddd;
                        }
                        .panel {
                            margin-bottom: 20px;
                            background-color: #fff;
                            border: 1px solid transparent;
                            border-radius: 4px;
                            -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
                            box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
                        }
                            .panel-body {
                                font-size: 15px;
                                line-height: 1.5em;
                            }
                            .panel-body {
                                padding: 15px;
                            }
                                .modal .citation-text .citation {
                                    cursor: text;
                                    font-style: italic;
                                }

                                .modal .citation-text .citation .citation-authors {
                                    margin-left: 50px;
                                }

                                .modal .citation-text .citation .citation-paper-link {
                                    display: inline-block;
                                    position: relative;
                                }

                                .modal .citation-text .copy-citation {
                                    cursor: pointer;
                                    display: inline-block;
                                    font-weight: bold;
                                    margin: 10px 0 -15px;
                                }

                    /*div tab-pane  id iso*/
                    .tab-content > .tab-pane {
                        display: none;
                    }

            /*section*/
            .sr-only {
                border: 0;
                clip: rect(0,0,0,0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }
            .sr-only {
                position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                padding: 0;
                overflow: hidden;
                clip: rect(0,0,0,0);
                border: 0;
            }
            /*i*/
            .far {
                font-weight: 400;
            }
            .fal, .far {
                font-family: "Font Awesome 5 Pro";
            }
            .fa, .fab, .fad, .fal, .far {
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
            }

        /*h5  class:title*/
        .pull-right {
            float: right !important;
        }
        h5, .h5 {
            font-size: 14px;
            letter-spacing: 0.05em;
            font-style: normal;
            font-weight: 500;
        }
        h4, .h4, h5, .h5, h6, .h6 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            font-family: "Roboto",sans-serif;
            font-weight: 700;
            line-height: 35px;
            color: inherit;
        }
            .actions-wrapper .modal-trigger {
                text-transform: uppercase;
            }

    /*div  class:hidden*/
    .hidden {
        display: none !important;
    }
    .hidden {
        display: none;
    }
        /*div*/
        /* .mb-md {
            margin: 0 0 26px;
        }
            /*divs */
            .panel-heading {
                padding: 10px 15px;
                border-bottom: 1px solid transparent;
                border-top-right-radius: 3px;
                border-top-left-radius: 3px;
            }
            .panel-dewey .panel-heading {
                border-color: #ECECEC;
                font-size: 16px;
                font-weight: bold;
            }
            .bg-lighten, .authors-list-container .author-card::before, .authors-list-container .author-card::before, #authors-container .author-card::before, #authors-container .author-card::before, .panel-heading, .bg-active.active, .m-gaussTabs__item--active {
                background-color: #FDF1EB;
            }
                .panel-dewey .panel-body.text {
                    font-weight: 500;
                }
                .panel-dewey .panel-body {
                    border-color: #ECECEC;
                }
                    .panel-body .field {
                        font-size: 15px;
                        padding: 0;
                    }
                        .p {
                            margin: 0 0 10px;
                        }
            

                        
                        .flex {
                            display: flex;
                            justify-content: space-between;
                            flex-direction: row;
                        }

                        @media (max-width: 1239px) {
                            .flex {
                                flex-wrap: wrap;
                            }
                        }


                        /* Divs e classes: do tema 'Discussões' */
                        .padding-first-class {
                            padding: 15px;
                        }
                        .flex-discussoes {
                            display: flex;
                            align-items: center;
                            flex-wrap: nowrap;
                            flex-direction: column;
                            border-bottom: 1px solid #E7E7E7;
                        }
                        .divv {
                            padding-bottom: 15px;
                            border-bottom: 1px solid #E7E7E7;
                        }
                        .p-1{
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 21px;
                            color: #ED7839;
                        }
                        .svgs {
                            margin: 20px;
                        }
                        .p-2 {
                            font-family: 'Quicksand';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 19px;
                            text-align: center;
                            color: #595959;
                            margin-bottom: 30px;
                            margin-top: 12px;
                        }


                        /* Classes das divs: 'Assunto da pergunta...' */
                        .panel-1 {
                            background-color: #fff;
                            border: 1px solid transparent;
                            border-radius: 4px;
                            -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
                            box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
                        }
                        .box-assunto {
                            background: #FFFFFF;
                            border: 1px solid #E7E7E7;
                            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
                            border-radius: 4px;
                            padding: 20px;
                            margin: 15px 15px 0 15px;
                        }
                        .box-assunto-2 {
                            background: #FFFFFF;
                            border: 2px solid #E7E7E7;
                            border-radius: 4px;
                            padding: 8px 20px;
                            width: 100%;
                            margin-bottom: -7px;
                        }
                        .box-assunto-3 {
                            border: 2px solid #E7E7E7;
                            border-bottom-left-radius: 4px;
                            border-bottom-right-radius: 4px;
                            padding: 15px 20px;
                            width: 100%;
                            background: #EAF1F2;
                        }

                        .box-margin-bottom {
                            margin-bottom: 15px;
                        }
                        .p-3 {
                            font-family: 'Quicksand';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 20px;
                            color: #ED7839;
                        }
                        .p-4 {
                            font-family: 'Quicksand';
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            color: #5c5c5c;
                        }
                        .p-5 {
                            font-family: 'Quicksand';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 18px;
                            color: #4D4D4D;
                        }

                        .interagir {
                            display: flex;
                        }
                        .svg {
                            margin-right: 15px;
                            cursor: pointer;
                        }
                        .sz{
                            cursor: pointer;
                        }
                        .p-6 {
                            font-family: 'Quicksand';
                            font-style: normal;
                            font-weight: 350;
                            font-size: 14px;
                            line-height: 19px;
                            color: #757575;
                            margin: 3px 0px 0px 15px;
                            cursor: pointer;
                        }

                        /* Div: CRIAR tópico*/
                        .flex-topico {
                            display: flex;
                            align-items: center;
                            background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
                            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
                            border-radius: 4px;
                            margin: -15px;
                            z-index: 2;
                        }
                        .topico-margin {
                            margin: 6px 0px 7px 13px;
                        }
                        .novotopico-margin {
                            margin: 7px 30px 7px 30px;
                        }
                        .p-criar-topico {
                            font-family: 'Quicksand';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 15px;
                            line-height: 16px;
                            text-align: center;
                            color: #FFFFFF;
                            margin: 0px 30px 0px 30px;
                            letter-spacing: 0.01em;
                        }
                        .confirmacao-novo-topico, .overlay-novo-topico {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                        .confirmacao-novo-topico {
                            z-index: 3;
                        }
                        .overlay-novo-topico {
                            z-index: 2;   
                            background-color: #DDDDDD;
                            opacity: 0.3;
                            
                        }

                        div.box-assunto.novo-topico > p {
                            filter: blur(3px);
                        }

                        .novo-topico {
                            position: relative;
                        }


                        /* PAGINA 2 - Assunto, conteudo, enviar */
                        .p-7 {
                            display: flex;
                            justify-content: center;
                            font-size: 14px;
                            line-height: 18px;
                            text-align: center;
                            color: #5C5C5C;
                        }
                        .p-8 {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 19px;
                            color: #ED7839;
                            margin: 0;
                            margin-top: 10px;
                         }
                         .pp {
                             margin-top: 17px;
                         }

                         .conteudo-enviar-flex {
                            display: flex;
                            align-items: flex-start;
                            justify-content: space-between;
                            padding: 6px 20px;
                         }
                         .p-9 {
                            font-family: 'Quicksand';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 15px;
                            line-height: 16px;
                            text-align: center;
                            color: #FFFFFF;
                            margin: 0;
                         }
                         .clicar {
                            cursor: pointer;
                         }
                        #botao-enviar-topico.clicar{
                            padding: 9px 72px;
                            margin: -7px -21px;
                            background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
                            border-radius: 0px 0px 4px 0px;
                        }
                         .image-shape {
                            margin: 0 20px 0px 7px;
                         }


                        /* PÁGINA 4 */
                        .descobrir {
                            font-size: 14px;
                            line-height: 137.5%;
                            text-decoration-line: underline;
                            color: #F48F44;
                            margin-bottom: 60px;
                        }
                        .descobrir-1 {
                            font-size: 14px;
                            line-height: 137.5%;
                            text-decoration-line: underline;
                            color: #F48F44;
                        }
                        .p-10 {
                            font-family: 'Quicksand';
                            font-style: normal;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 20px;
                            color: #707070;
                        }
                        .feedback-flex {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            
                        }

            /*div*/
            @media (max-width: 1239px){
                .col-md-3 {
                width: 100%;
                }
            }

            .panel-dewey {
                border-color: #ECECEC;
                min-height: 95%;
            }

/* FOOTER */
.footer {
    display: flex;
    flex-direction: row;
    border: 0;
    padding: 0 36px;
    position: relative;
}
.mb-lg {
    margin: 0 0 36px;
}

.p-md {
    padding: 15px;
}

    /*img  footer*/ 
    .footer .logo .galoa-logo {
    width: 200px;
    }
    .footer .galoa-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #71478E;
        border-radius: 5px;
        color: #FFF;
        margin: 0 auto;
        padding: calc(10px / 2);
        width: 200px;
    }
    .footer::before {
        background-color: #E7E7E7;
        content: '';
        display: block;
        height: 1px;
        position: absolute;
        top: 0;
        width: calc(100% - 72px);
    }

.footer .description {
    align-self: center;
}
.p-md {
    padding: 15px;
}


.f-primary, .letters-container .nav-letters .letter.active, .letters-container .nav-letters .letter.active, .menu-widget.ais-menu--header, .menu-widget .ais-refinement-list--item::before, .menu-widget .ais-refinement-list--item::before, .menu-widget .ais-menu--item::before, .menu-widget .ais-menu--item::before, .refinement .ais-refinement-list--item::before, .refinement .ais-refinement-list--item::before, .refinement .ais-menu--item::before, .refinement .ais-menu--item::before, .refinement-title, .series-menu-item.sub-item .active, .series-menu-item.sub-item .active, .modal .citation-text .copy-citation, .modal .citation-text .copy-citation, .modal .citation-text .citation .citation-paper-link a, .modal .citation-text .citation .citation-paper-link a, .stats .metric-container .metric-value, .stats .metric-container .metric-value, .actions-wrapper .modal-trigger, .actions-wrapper .modal-trigger, .panel-dewey .panel-body.text.list-unstyled, .panel-dewey .panel-body.text.list-unstyled, .panel-dewey .panel-body.text .list-unstyled, .panel-dewey .panel-body.text .list-unstyled, .panel-body .field ul li, .panel-body .field ul li, .palette-dancing-flames .theme-list li, .palette-sweet-dream .theme-list li, .palette-fantasy .theme-list li, .palette-to-the-ocean .theme-list li, .palette-clear-sky .theme-list li, .palette-wisdom .theme-list li, .palette-priceless-lake .theme-list li, .palette-magnificent-forest .theme-list li, .palette-lost-woods .theme-list li, .theme-list li, .palette-mysterious-cave .theme-list li, .palette-glorious .theme-list li, .palette-sunrise .theme-list li, .card .card-body .card-body-title, .card .card-body .card-body-title, .topic-info-container .recommended-paper a, .topic-info-container .recommended-paper a, label, .ops-topic-card .ops-topic-subject, .ops-topic-card .ops-topic-subject, .ops-topic-card .ops-topic-author.editing-topic, .ops-topic-card .ops-topic-author.editing-topic, .ops-topic-card .action-collapse, .ops-topic-card .action-collapse, .m-gaussTabs__item.pending, .initial-letters div a:hover, .initial-letters div a:hover, .pagination li a, .pagination li a, .institutions-list h4, .institutions-list h4, .institutions-list div a:hover, .institutions-list div a:hover {
    color: #ED7839;
}

@media (max-width: 991px){
    .header {
        flex-direction: column-reverse;
    }
}

@media (max-width: 840px){
    /*-------------------- Menu --------------------*/
    .dialog-off-canvas-main-canvas {
        display: block;
    }    
    .sidebar{
        position: fixed;
        left: -220px;
        transition: 0.3s ease;
        box-shadow: none;
    }
    .px-xlg {
        padding: 10px 15px 4px 75px;
    }
    .div-box {
        margin-bottom: 10px;
    }
    .button-active {
        left: 0;
    }

    .body-overflow-hidden {
        overflow: hidden;
    }

    .modal-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgb(70 68 68 / 40%);
        z-index: 1;
    }
    #menu-bar { 
        width: 45px;
        height: 40px;
        padding: 8px 8px 8px 16px;
        cursor: pointer;
        position: absolute;
        top: 9px;
        box-sizing: unset;
      }
    .bar {
        height: 5px;
        width: 100%;
        background-color: #9b5f6a;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
      }
      #bar1 {
        transform: translateY(-4px);
      }
      #bar3 {
        transform: translateY(4px);
      }
    /*-----------------------------------------------*/
}
